@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

.google-maps {
  position: relative;
  padding-bottom: 48%; // This is the aspect ratio
  height: 0;
  overflow: visible;
}

.google-maps iframe {
  position: absolute;
  margin-top:     2%;
  margin-right:   5%;
  margin-left:    5%;
  margin-bottom:  2%;
  top: 0;
  left:0;
  width: 90%;
  height: 100%;
}

.jumbotron {
  background-color: #F44336;
  overflow:auto;
  height: 25rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  }

.jumbotron .container {
  position: center;
  left:5rem;
  top:1rem;
  padding-top:5rem;
}

.jumbotron h1 {
  color: #212121;
  font-size: 55px;  
  font-weight: bold;
}

.jumbotron p {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
}

.jumbotron img {
   max-width:25%;
   max-height:25%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%
}

.resources .contain{
  padding-left: 20rem
}

