@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

#header {
  background-color:#F44336;
  color:black;
  height: 140px;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 5%;
  padding-top: 1rem;
}

#content {
  height:auto;
  width:auto;
  padding-bottom:25px;
  /*min-height:400px;*/
}

#footer {
  position:absolute;
  background-color:#F44336;
  color:black;
  text-align:center;
  padding:3px;
  height:25px;
  width:100%;
  bottom:0;
  left:0;
}

.google-maps {
  /*position: relative;
  padding-bottom: 48%; // This is the aspect ratio
  height: 0;
  overflow: scroll;*/
  position:fixed;
  width:100%;
  height:100%;
  /*padding-bottom:48%;*/

}

.google-maps iframe {
  /*position: absolute;
  margin-top:     2%;
  margin-right:   5%;
  margin-left:    5%;
  margin-bottom:  2%;
  top: 0;
  left:0;
  width: 90%;
  height: 100%;*/
  position:absolute;
  /*display:block;
  margin:auto;*/
  padding-left:30px;
  padding-right:30px;
  width:100%;
  height:100%;
}

.jumbotron {
  position:static;
  min-height:100%;
}

.jumbotron h1 {
  color: #212121;
  font-size: 55px;  
  font-weight: bold;
}

.jumbotron p {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
}

.jumbotron a:link {
  color:#212121;
}
.jumbotron a:visited {
  color:#212121;
}
.jumbotron a:hover {
  text-decoration: underline;
}
.jumbotron a:active {
  text-decoration: underline;
}

.jumbotron img {
   height: 112px;
   width: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin:0;
  padding:0;
}

