<!DOCTYPE html>
<html>
  <head>
    <title>Kyzr: Resources</title>
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/class_notes.css">
    <link rel="shortcut icon" href="../static/images/icon.png">
  </head>

  <body>
   <div class="jumbotron">
      <div id="header">
        <a href="/"><img src="../static/images/TheKyzrProject.png" height="110px" width="auto"></a>
      </div>

      <div id="content" style="position:relative;padding-left:5%">
        <h1>Resources</h1>

        <h2>Documents</h2>
        <a href="../static/KyzrProposal.pdf" target="newtab">The Project Proposal</a>
        &nbsp;|&nbsp;
        <a href="../static/DesignReview1.pdf" target="newtab">Design Review 1</a>
        &nbsp;|&nbsp;
        <a href="../static/DesignReviewFeedback.pdf" target="newtab">Design Review 1 Feedback</a>

        <br>
        <br>

        <h2>Sprint Schedule</h2>
        <ul>
          <li>Sprint 1 - 4/1</li>
          <li>Sprint 2 - 4/8</li>
          <li>Sprint 3 - 4/15</li>
          <li>Sprint 4 - 4/22</li>
          <li>Sprint 5 - 4/29</li>
        </ul>
      </div>

      <div id="footer">
        <p><a href="class_notes" style>Resources</a></p>
      </div>
    </div>
  </body>
</html>

 

