<!DOCTYPE html>
<html>
  <head>
    <title>Kyzr: Resources</title>
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/class_notes.css">
    <link rel="shortcut icon" href="../static/images/icon.png">
  </head>

  <body>
   <div class="jumbotron">
      <div id="header">
        <a href="/"><img src="../static/images/TheKyzrProject.png" height="110px" width="auto"></a>
      </div>

      <div id="content">
        <h2>What is Kyzr?</h2>
        <h3>Results</h3>
        <p>Though the details will be different for each project, show off what your software can do! Screenshots and video are likely helpful. Include graphs or other data if appropriate.</p>
        <br>
        <hr>
        <br>

        <h2>Our Story</h2>
        <h3>Big Idea/Goal/Why did we do this? Project evolution/narrative</h3>
        <p>Quick and easily understandable explanation of what your project is all about. Consider including a narrative or example use case, e.g. via screenshots, video, or story boarding.</p>
        <p>Tell an illustrative story about the process of creating your software, showing how it improved over time. This may draw upon what you learned from the two peer technical reviews. Consider the use of screenshots or other tools to demonstrate how your project evolved.</p>
        <br>
        <hr>
        <br>

        <h2>How It Works</h2>
        <h3>Implementation information</h3>
        <p>Code doesn't tell a story by itself. Use more effective methods such as flowcharts and architectural or class diagrams to explain how your code works. You could consider including or linking to snippets of code to highlight a particularly crucial segment.</p>
        <br>
        <hr>
        <br>

        <h2>Resources</h2>
        <h3>Documents</h3>
        <a href="../static/KyzrProposal.pdf" target="newtab">The Project Proposal</a>
        &nbsp;|&nbsp;
        <a href="../static/DesignReview1.pdf" target="newtab">Design Review 1</a>
        &nbsp;|&nbsp;
        <a href="../static/DesignReviewFeedback.pdf" target="newtab">Design Review 1 Feedback</a>
        <br>

        <h3>Sprint Schedule</h3>
        <ul>
          <li>Sprint 1 - 4/1</li>
          <li>Sprint 2 - 4/8</li>
          <li>Sprint 3 - 4/15</li>
          <li>Sprint 4 - 4/22</li>
          <li>Sprint 5 - 4/29</li>
        </ul>
        <br>

        <h3>Attribution</h3>
        <p>Give proper credit for external resources used.</p>
      </div>

      <div id="footer">
        <a href="class_notes" style>Resources</a>
      </div>
    </div>
  </body>
</html>

 

