<!DOCTYPE html>
<html>

  <head>
    <title>Kyzr</title>
    <link rel="shortcut icon" href="../static/images/icon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="static/js/button.js"></script> 
  </head>


  <body>

    <div class="jumbotron">
        <div class="container">
        <a href="maps"><img src="../static/images/TheKyzrProject.png"></a>
        </div>
    </div> 
    <div class="resources">
        <div class="contain">
            <h3>Resources</h3>

            <a href="../static/KyzrProposal.pdf" target="newtab">The Project Proposal</a>
            <br> 
            <a href="../static/DesignReview1.pdf" target="newtab">Design Review 1</a>
            <br>
            <a href="../static/DesignReviewFeedback.pdf" target="newtab">Design Review 1 Feedback</a>

            <br>
            <br>

            <p><b>Sprint Schedule</b></p>
            <ul>
                <li>Sprint 1 - 4/1</li>
                <li>Sprint 2 - 4/8</li>
                <li>Sprint 3 - 4/15</li>
                <li>Sprint 4 - 4/22</li>
                <li>Sprint 5 - 4/29</li>
            </ul>
        </div>
    </div>
    
  </body>

  <style>
    .google-maps {
        position: relative;
        padding-bottom: 48%; // This is the aspect ratio
        height: 0;
        overflow: visible;
    }
    .google-maps iframe {
        position: absolute;
        margin-top:     2%;
        margin-right:   5%;
        margin-left:    5%;
        margin-bottom:  2%;
        top: 0;
        left:0;
        width: 90%;
        height: 100%;
    }
  </style>
 
  <div class="google-maps">
    <iframe src="/maps" width="600" height="450" frameborder="0" style="border:0"></iframe>
  </div>
</html>
