<html>
    <head>
        <title>Kyzr</title>
        <link rel="shortcut icon" href="../static/images/icon.png">
    </head>
    <body>
        <a href="maps"><img src="../static/images/TheKyzrProject.png"></a>
        <br>
        <a href="../static/KyzrProposal.pdf" target="newtab">The Project Proposal</a>
        <br>
        <li>Sprint 1 - 4/1</li>
        <li>Sprint 2 - 4/8</li>
        <li>Sprint 3 - 4/15</li>
        <li>Sprint 4 - 4/22</li>
        <li>Sprint 5 - 4/29</li>
    </body>
</html>
