<!DOCTYPE html>
<!--
  Code based from Google Maps API Simple Polylines Example:
  https://developers.google.com/maps/documentation/javascript/examples/polyline-simple
-->
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Maps</title>
    <link rel="stylesheet" type="text/css" href="../static/css/maps.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>

      function initialize() {
        var center_coords = {{center|safe}}

        var mapOptions = {
          zoom: {{zoom|safe}},
          center: new google.maps.LatLng(center_coords[0], center_coords[1]),
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var gMapsCoords = [];
        var safeCoords = {{coords|safe}}
        for(i=0; i < safeCoords.length; i++) {
          gMapsCoords[gMapsCoords.length] = new google.maps.LatLng(safeCoords[i][0], safeCoords[i][1]);
        }

  var path = new google.maps.Polyline({
    path: gMapsCoords,
    geodesic: true,
    strokeColor: '#F90101',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

        path.setMap(map);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <form id="searchID" action="maps" method="POST">
      {% if error %}
        <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID" autofocus onfocus="this.value = this.value;">
        <p>Enter a valid ID</p>
      {% else %}
        {% if torchID == '' %}
          <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID" autofocus>
        {% else %}
          <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID">
          <!--<br>
          <p>Distance Traveled : {{dist|safe}}</p>
          <br>
          <p>Torch Holding : {{torch_held|safe}}</p>
          <br>
          <p>Number of Transactions : {{num_tran|safe}}</p>
          <br>-->
        {% endif %}
      {% endif %}
      <button type="submit">Submit</button>
    </form>
    {% if not error and torchID != '' %}
    <div class="statistics">
      <p><img src="../static/images/dist.svg">Distance Traveled : {{dist}}</p>
      <p><img src="../static/images/favicon.svg">Torch Holding : {{torch_held}}</p>
      <p><img src="../static/images/swap.svg">Number of Transactions : {{num_tran|safe}}</p>
    </div>
    {% endif %}
  </body>
</html>
