<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Maps</title>
    <link rel="stylesheet" type="text/css" href="../static/css/maps.css">
    <!--{% if error %}
    <style>
    ::-webkit-input-placeholder {
      color: red;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: red;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: red;
    }

    :-ms-input-placeholder {  
      color: red;
    }
    </style>
    {% endif %}-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
// This example creates a 2-pixel-wide red polyline showing
// the path of William Kingsford Smith's first trans-Pacific flight between
// Oakland, CA, and Brisbane, Australia.

function initialize() {
  var center_coords = {{center|safe}}

  var mapOptions = {
    zoom: {{zoom|safe}},
    center: new google.maps.LatLng(center_coords[0], center_coords[1]),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var gMapsCoords = [];
  var safeCoords = {{coords|safe}}
  for(i=0; i < safeCoords.length; i++) {
    gMapsCoords[gMapsCoords.length] = new google.maps.LatLng(safeCoords[i][0], safeCoords[i][1]);
  }

  var path = new google.maps.Polyline({
    path: gMapsCoords,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  path.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <form id="searchID" action="maps" method="POST">
      {% if error %}
        <input type="text" name="id" value="{{error}}" placeholder="Enter a username or ID" autofocus onfocus="this.value = this.value;">
        <p>Enter a valid ID</p>
      {% else %}
        {% if torchID == '' %}
          <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID" autofocus>
        {% else %}
          <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID">
        {% endif %}
      {% endif %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
