<!DOCTYPE html>
<!--
  Code based from Google Maps API Simple Polylines Example:
  https://developers.google.com/maps/documentation/javascript/examples/polyline-simple
-->
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Maps</title>
    <link rel="stylesheet" type="text/css" href="../static/css/maps.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>

    var infowindow = null;

      function initialize() {
        var center_coords = {{center|safe}}

        var mapOptions = {
          zoom: {{zoom|safe}},
          center: new google.maps.LatLng(center_coords[0], center_coords[1]),
          mapTypeId: google.maps.MapTypeId.SATELLITE
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var gMapsCoords = [];
        var safeCoords = {{coords|safe}}
        for(i=0; i < safeCoords.length; i++) {
          gMapsCoords[i] = new google.maps.LatLng(safeCoords[i][0], safeCoords[i][1]);
        }

        var path = new google.maps.Polyline({
          path: gMapsCoords,
          geodesic: true,
          strokeColor: '#F90101',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        path.setMap(map);

        var markers = [];
        for(i=0; i < gMapsCoords.length; i++) {
          markers[i] = new google.maps.Marker({
            position: gMapsCoords[i],
            map: map
            // title: 'Hello World!'
          });
        }

        geocoder = new google.maps.Geocoder();
        infowindow = new google.maps.InfoWindow({content: 'holding...'});
        //infowindows = [];

        getAdresses(markers);

        function getAdresses(markers) {
          var addresses = [];
          for(var i=0; i < markers.length; i++) {
            geocoder.geocode({'latLng':markers[i].getPosition()}, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                  addresses.push(results[1].formatted_address);
                } else {
                  //alert('No results found');
                  addresses.push('-1');
                }
              } else {
                if(status=="ZERO_RESULTS") {
                  //alert(status);
                  addresses.push('-1');
                } else {
                  alert('Geocoder failed due to: ' + status);
                }
                if(addresses.length == markers.length) {
                    setContent(addresses)
                }
              }
            });
          }
        }

        function setContent(addresses) {
          for(var i=0; i < markers.length; i++) {
            if(addresses[i]=='-1') {
              markers[i].content = String(markers[i].getPosition().lat().toFixed(3)) + ", " 
                + String(markers[i].getPosition().lng().toFixed(3));
            } else {
              markers[i].content = addresses[i];
            }
            google.maps.event.addListener(markers[i], 'mouseover', function() {
              infowindow.setContent(this.content)
              infowindow.open(map, this);
            });
            google.maps.event.addListener(markers[i], 'mouseout', function() {
              infowindow.close();
            });
          }
        }

        /*function makeInfoWindow(callback) {
          geocoder.geocode({'latLng': markers[i].getPosition()}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                infowindow = new google.maps.InfoWindow({content: results[1].formatted_address});
                callback(null, infowindow);
              } else {
                alert('No results found');
                return callback('No results found');
              }
            } else {
              alert('Geocoder failed due to: ' + status);
              return callback(status);
              //infowindows[i] = new google.maps.InfoWindow({content: markers[i].getPosition()})
            }
          });
        }*/

        /*for(var i=0; i < markers.length; i++) {
          makeInfoWindow(function(status, infowindow) {
            //alert(infowindow.getContent());
            //alert(markers[0].getPosition());
            google.maps.event.addListener(marker, 'mouseover', function() {
            infowindow.open(map, marker);
              });
            google.maps.event.addListener(marker, 'mouseout', function() {
            infowindow.close();
        });
          });
        }*/

        //        ALMOST WORKING!!!!!!!!!!!!!!!!!!!!
        /*for(var i=0; i < markers.length; i++) {
          geocoder.geocode({'latLng': markers[i].getPosition()}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                infowindow = new google.maps.InfoWindow({content: results[1].formatted_address});
                //markers[i].content = results[1].formatted_address;
              } else {
                alert('No results found');
              }
            } else {
              alert('Geocoder failed due to: ' + status);
              //infowindows[i] = new google.maps.InfoWindow({content: markers[i].getPosition()})
            }
          });
          google.maps.event.addListener(markers[i], 'mouseover', function() {
            //infowindow.setContent(this.content)
            infowindow.open(map, this);
          });
          google.maps.event.addListener(markers[i], 'mouseout', function() {
            infowindow.close();
          });
        }*/

        /*var markers = [];
        for(var i=0; i < gMapsCoords.length; i++) { // loop through coordinates
          geocoder.geocode({'latLng': gMapsCoords[i]}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                //infowindow = new google.maps.InfoWindow({content: results[1].formatted_address});
                //markers[i].content = results[1].formatted_address;
                markers.push(new google.maps.Marker({
                  position: gMapsCoords[i],
                  map: map,
                  content: results[1].formatted_address
                }));
              } else {
                alert('No results found');
              }
            } else {
              alert('Geocoder failed due to: ' + status);
              //infowindows[i] = new google.maps.InfoWindow({content: markers[i].getPosition()})
            }
          }); // end geocode request
        }*/
        
        /*for(var i=0; i < markers.length; i++) {
          geocoder.geocode({'latLng': markers[i].getPosition()}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[1]) {
                infowindows[i] = new google.maps.InfoWindow({content: results[1].formatted_address});
              } else {
                alert('No results found');
              }
            } else {
              alert('Geocoder failed due to: ' + status);
              //infowindows[i] = new google.maps.InfoWindow({content: markers[i].getPosition()})
            }
          });*/
          /*alert(infowindows);
          google.maps.event.addListener(markers[i], 'mouseover', function() {
            infowindows[i].open(map,markers[i]);
          });
          google.maps.event.addListener(markers[i], 'mouseout', function() {
            infowindows[i].close();
          });*/
        //}

        /*for(var i=0; i < markers.length; i++) {
          google.maps.event.addListener(markers[i], 'mouseover', function() {
            geocoder.geocode({'latLng': markers[i].getPosition()}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                  infowindow = new google.maps.InfoWindow({content: results[1].formatted_address});
                } else {
                  alert('No results found');
                }
                infowindow.open(map,markers[i])
              } else {
                alert('Geocoder failed due to: ' + status);
                //infowindows[i] = new google.maps.InfoWindow({content: markers[i].getPosition()})
              }
            });
          });
          google.maps.event.addListener(markers[i], 'mouseout', function() {
            infowindow.close();
          });
        }*/
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <form id="searchID" action="maps" method="POST">
      {% if error %}
        <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID" autofocus onfocus="this.value = this.value;">
        <p>Enter a valid ID</p>
      {% else %}
        {% if torchID == '' %}
          <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID" autofocus>
        {% else %}
          <input type="text" name="id" value="{{torchID}}" placeholder="Enter a username or ID">
          <!--<br>
          <p>Distance Traveled : {{dist|safe}}</p>
          <br>
          <p>Torch Holding : {{torch_held|safe}}</p>
          <br>
          <p>Number of Transactions : {{num_tran|safe}}</p>
          <br>-->
        {% endif %}
      {% endif %}
      <button type="submit">Submit</button>
    </form>
    {% if not error and torchID != '' %}
    <div class="statistics">
      <p><img src="../static/images/dist.svg">Distance Traveled : {{dist}}</p>
      <hr>
      <p><img src="../static/images/favicon.svg">Torch Held By : {{torch_held}}</p>
      <hr>
      <p><img src="../static/images/swap.svg">Number of Transactions : {{num_tran|safe}}</p>
    </div>
    {% endif %}
  </body>
</html>
